body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
}


header {
    backdrop-filter: blur(20px);
    z-index: 100;
}

header nav {
    transition: .3s;
}

header nav svg , footer svg {
    height: 70px;
}

header nav .navbar-toggler {
    border: none;
}

header nav .btn {
    display: none;
}

section.landing-page .overlay {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    opacity: .3;
    z-index: -1;
    background-image: radial-gradient(circle, #7d133b, #892047, #952c52, #a0385f, #ac436b);
}

.text-gradient {
    /*background-image: linear-gradient(to left top, #7d133b, #892047, #952c52, #a0385f, #ac436b);*/
    /*color: transparent;*/
    /*-webkit-background-clip: text;*/
    /*background-clip: text;*/

}


#accordionConditions {
    counter-reset: conditions;
}

.accordion-item .accordion-header button {
    font-size: 25px !important;
    font-weight: bold;
}

.accordion-item .accordion-header button::before {
    counter-increment: conditions;
    content: counter(conditions) " - ";
    margin-left: 5px;
}

