body {
    font-family: "Cairo", sans-serif;
}




header {
    backdrop-filter: blur(20px);
    z-index: 100;
}

header nav {
    transition: .3s;
}

header nav svg , footer svg {
    height: 70px;
}

header nav .navbar-toggler {
    border: none;
}

header nav .btn {
    display: none;
}

section.landing-page .overlay {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
    background-color: rgb(0,0,0);
}

section.landing-page video {
    filter: blur(5px);
}

.text-gradient {
    background-image: linear-gradient(
        to left top,
        #cf2064,
        #d15c84,
        #ac436b
    );

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.header-logo {
    height: 40px;
}


@media screen and (min-width: 576px) {
    .header-logo {
        height: 55px;
    }
}

#accordionConditions {
    counter-reset: conditions;
}

.accordion-item .accordion-header button {
    font-size: 25px !important;
    font-weight: bold;
}

.accordion-item .accordion-header button::before {
    counter-increment: conditions;
    content: counter(conditions) " - ";
    margin-left: 5px;
}


.rc-anchor-light.rc-anchor-normal, .rc-anchor-light.rc-anchor-compact {
    border-color: ;
}
